/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f4f6;
  color: #333;
}

.header {
  background-color: #02cbd6;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  gap: 15px;
}

.button-container button {
  flex: 1;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: #4dc97a;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.button-container button:hover {
  background-color: #3da06a;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

h1, h2 {
  color: #333;
}

#products, #cart {
  width: 45%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#product-list, #cart-items {
  display: grid;
  gap: 15px;
}

.product, .cart-item {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.product button, .cart-item button {
  padding: 8px 12px;
  border: none;
  background-color: #4dc97a;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product button:hover, .cart-item button:hover {
  background-color: #3da06a;
}

#total-price {
  font-weight: bold;
  margin-top: 10px;
  text-align: right;
  color: #333;
}

button[onclick="checkout()"] {
  background-color: #02cbd6;
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button[onclick="checkout()"]:hover {
  background-color: #019aa9;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
